<ion-content [fullscreen]="true">
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Gestor
    </ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-padding">
  <ion-label><strong>SEMAFORISTA:</strong> Prueba</ion-label> <br>
  <ion-label><strong>FECHA ACTUAL:</strong> Prueba</ion-label>
</div>

<!-- <ion-button color="primary" (click)="getVendedores()">Primary</ion-button>  -->
  <div *ngFor="let item of nombres">
    <ion-card >    
      <ion-card-content class="container-principal-card" >
        <div class="container-text-name">
            
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 0" src="/assets/icon/circle-gris.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 1" src="/assets/icon/circle-verde.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 2" src="/assets/icon/circle-red.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 3" src="/assets/icon/circle-amarilla.png"></ion-img>
          <ion-label class="ion-label-name"> {{item.NOMBRE}}</ion-label>
        </div>
      <div class="container-text-name">
        <ion-img class="icon-circle-hibernate" *ngIf="item.ESTADO == 1" src="/assets/icon/stop.png" (click)="iniciarTurno(0,'XX', item.ESTADO, item.N_IDE, item.NOMBRE)"></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 0" src="/assets/icon/check.png" (click)="iniciarTurno(1,'XX', item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 1" src="/assets/icon/next.png" (click)="iniciarTurno(1, 'XX', item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 2" src="/assets/icon/next.png" (click)="iniciarTurno(1, 'XX', item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 3" src="/assets/icon/next.png" (click)="iniciarTurno(1,'XX', item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
      </div>
        
         
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
