<ion-content [fullscreen]="true">
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Gestor
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="PopoverMenu($event)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-padding">
  <ion-label><strong>SEMAFORISTA:</strong> Prueba</ion-label> <br>
  <ion-label><strong>FECHA ACTUAL:</strong> Prueba</ion-label>
</div>

</ion-content>
