<ion-content>
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Turnador
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="PopoverMenu($event)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

<div class="container-principal-tab2">

  <div class="align-items-column">
    <ion-label><strong>SEMAFORISTA:</strong> {{usuario}}</ion-label> <br>
    
    <ion-label><strong>FECHA ACTUAL: </strong>{{fechaActual | date:"dd/MM/yyyy"}} {{hora_actual}}</ion-label>
  </div>
  <ion-img src="/assets/icon/question.png" class="size-img-question" (click)="openModal()"></ion-img>
</div>

<!-- <ion-button color="primary" (click)="getVendedores()">Primary</ion-button>  -->
  <div *ngFor="let item of nombres">
    <ion-card >    
      <ion-card-content class="container-principal-card" >
        <div class="container-text-name">
            
          <ion-img class="icon-circle" *ngIf="item.ESTADO == null" src="/assets/icon/circle-gris.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 0" src="/assets/icon/circle-gris.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 1" src="/assets/icon/circle-verde.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 2" src="/assets/icon/circle-red.png"></ion-img>
          <ion-img class="icon-circle" *ngIf="item.ESTADO == 3" src="/assets/icon/circle-amarilla.png"></ion-img>
          <ion-label class="ion-label-name"> {{item.NOMBRE}}</ion-label>
        </div>
      <div class="container-text-name">
        <ion-img class="icon-circle-hibernate" *ngIf="item.ESTADO == 1" src="/assets/icon/stop.png" (click)="iniciarTurno(0, item.C_AGR, item.ESTADO, item.N_IDE, item.NOMBRE)"></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == null" src="/assets/icon/check.png" (click)="iniciarTurno(1, item.C_AGR, item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 0" src="/assets/icon/check.png" (click)="iniciarTurno(1, item.C_AGR, item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 1" src="/assets/icon/next.png" (click)="iniciarTurno(1, item.C_AGR, item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 2" src="/assets/icon/next.png" (click)="iniciarTurno(1, item.C_AGR, item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
        <ion-img class="icon-check" *ngIf="item.ESTADO == 3" src="/assets/icon/next.png" (click)="iniciarTurno(1, item.C_AGR, item.ESTADO, item.N_IDE, item.NOMBRE)" ></ion-img>
      </div>
        
         
      </ion-card-content>
    </ion-card>
  </div>

<ng-container *ngIf="isModalOpen" class="example-boundary" >
  
    <div class="card"  cdkDragBoundary="example-boundary"cdkDrag> 
 
      <div class="img-close">
        <ion-img class="close-size" (click)="dismissModal()" src="/assets/icon/close.png"></ion-img>
      </div> 
       <div>
         <div class="align-items-row" *ngFor="let item of itemsMenu">
           <ion-img class="icon-circle" [src]="item.url"></ion-img>
           <ion-label>{{item.text}}</ion-label>
         </div>
       </div>
       
     </div>

   
      
  
</ng-container>

