.generarTurno{
    background: #00abb0;
    // top: 463px;
    // left: 29px;
    width: 262px;
    height: 41px;
    color: #ffffff;
    font: normal normal bold 15px/18px Roboto;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    }
    
    .imacredito{
        position: relative;
        // padding-left: 33%;
        // padding-top: 26%;
        font: var(font-style-normal) normal var(font-weight-bold) 15px/18px var(family-roboto);
    }
    
    .mensajeBienvenida{
        font-size: 22px;
        // padding-left: 6%;
        // padding-top: 20%;
        justify-content: center;
    }
    .mensajeGz{
        padding-left: 10% !important;
        
    }
    
    .labelBtnGenerar{
        padding-top: 20%;
    }
    
    .encabezado{
        text-align: "center";
        padding-top: 20%;
    }
    
    